.create-tournament-form {
  display: grid;
  grid-template-columns: 165px;  /* Fixed widths for each column */
  grid-gap: 1rem;
  align-items: center;
  justify-content: start;
  margin-left: .5rem;
}

.form-label-and-input {
  display: contents;  /* Allows label and input to be placed directly in the grid */
}

.form-label {
  grid-column: 1;
  font-weight: bold;
  text-align: left;
}

.form-input {
  grid-column: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-button {
  grid-column: 2;
}