/* TODO: define and align all default layouts in one place other than here? */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 0;  /* Remove default margin for h1 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  padding: .75rem 1.5rem; 
  font-family: inherit;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;   /* Prevents button changing color/size on hover */
}

select {
  cursor: pointer;
}

.transparent {
  background: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.transparent:hover {
  background-color: ButtonFace;    /* Same grey as default hover color */
}

.blue {
  background: #007bff;
  color: #fff;
}

.blue:hover {
  background: #0056b3;
}

.cancel {
  color: #6c757d;
}

.danger {
  color: #dc3545;
}